.postsContainer {
    background-color: white;
    padding: 20px 40px;
    width: 70%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  }
  
  .postsContainer h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .cardText {
    color: "blue";
    text-align: center;
  }
  
  .emoji {
    font-size: 1.5rem;
    margin-right: 10px;
    margin-top: 10px;
  }