.NavBar {
    background-color: #F8F8FF;
    border: 1px solid #dadadf;
  }
  
  .NavLink {
    padding: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .Active i {
    color: black;
  }

  .a {color: turquoise;
}
  
  a:hover {color: orange;

  }