.NavBar {
    background-color: #ffffff;
    border: 1px solid #dadadf;
  }
  
  .NavLink {
    padding: 5px;
  }
  
  .Active i {
    color: black;
  }

  .a {color: turquoise;
}
  
  a:hover {color: orange;

  }