@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Kalnia', serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F8F8FF;
  }
  

  .flex-h {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }


  .overlay {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s ease;
}

.overlay:hover::after {
  opacity: 1;
}

.zoom {
  transition: transform 0.2s ease;
}

.zoom:hover {
  transform: scale(1.05);
}
/* Example CSS styles for like and comment sections */

/* Adjust the font and spacing for like and comment sections */
.like-comment-section {
    font-size: 14px;
    display: flex;
    align-items: center;
}

/* Style the count number in like and comment sections */
.like-count,
.comment-count {
    margin-right: 5px;
    font-weight: bold;
}

/* Style the action buttons section */
.action-buttons {
    display: flex;
    align-items: center;
}

/* Style the action buttons */
.action-button {
    margin-right: 10px;
}

/* Styles for mobile devices (max-width: 767px) */
@media (max-width: 767px) {
  .custom-card {
    max-width: 100%;
  }
}

/* Styles for desktop devices (min-width: 768px) */
@media (min-width: 768px) {
  .custom-card {
    max-width: 70%;
    min-width: 70%;
  }
}